!!!
%html
  %head
    %title
      VUW Table Tennis
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Open+Sans', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      .content-wrapper
        .layout--content
          .col-md-12
            - if notice
              .alert.alert-success
                = notice
            - if alert
              .alert.alert-warning
                = alert

          .col-md-6.col-md-offset-3
            = yield