!!!
%html
	%head
  	%title
  		VuwTabletennis
  	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  	= javascript_include_tag 'application', 'data-turbolinks-track' => true
  	= csrf_meta_tags
	%body
    %header
      %nav.navbar-wrapper
        .navbar.navbar-default.navbar-static-top
          .container-fluid
            %a.navbar-brand{:href => "/"} Jasper

      .content-wrapper
        .layout--content
          .col-md-12
            - if notice
              .alert.alert-success
                = notice
            - if alert
              .alert.alert-warning
                = alert