.col-md-12.signups-page{style: 'padding-top: 20px;'}
  = render partial: 'header'
= form_for @member, html: {multipart: false} do |m|
  .col-md-12.signups-page{style: 'padding-top: 40px;'}
    .form-group.input-field
      = label_tag :first_name, 'First Name *', required: true, class: 'field-label'
      = m.text_field :first_name, class: 'form-control'

    .form-group.input-field
      = label_tag :last_name, 'Last Name *', required: true, class: 'field-label'
      = m.text_field :last_name, class: 'form-control'

    .form-group.input-field
      = label_tag :student_id, 'Student ID *', required: true, class: 'field-label'
      = m.text_field :student_id, class: 'form-control'

    .form-group.input-field
      = label_tag :email, 'Email *', type: 'email', :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', class: 'field-label'
      = m.text_field :email, class: 'form-control'

    .form-group.input-field
      = label_tag :gender, 'Gender', class: 'field-label'
      = m.text_field :gender, class: 'form-control'

    .form-group.input-field
      = label_tag :age, 'Age', class: 'field-label'
      = m.number_field :age, min: 1, class: 'form-control'

    .form-group.input-field
      = label_tag :experience, 'Level of Experience', class: 'field-label'
      = m.text_area :experience, rows: 2, class: 'form-control', style: 'resize: none;'
    .form-group
      = hidden_field_tag :id, @member.id
      = m.submit "Sign me up!", class: 'btn btn-primary'